.experiencia {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.experiencia .subtitulo {
  color: #e0e0e0;
}

.exp-resumo-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 60px;
  max-width: 40ch;
  color: #525252;
}

.exp-resumo-texto strong {
  color: #141414;
}

.exp-empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  background-color: #f5f5f5;
  margin-bottom: 20px;
  padding: 20px 20px;
  justify-content: start;
  position: relative;
  border-radius: 4px;
}

.exp-empresa:hover::before {
  content: "";
  height: 50px;
  width: 4px;
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
  left: -5px;
}

.exp-empresa h3 {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}
.exp-ano {
  position: absolute;
  top: 20px;
  left: -100px;
  color: #525252;
  font-size: 0.875rem;
  width: 80px;
  text-align: right;
}

.exp-empresa p {
  font-size: 0.875rem;
  color: #525252;
  line-height: 1.2rem;
}

.exp-lista-tecnologias {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.exp-botao-tecnologia span {
  background-color: #67dd0a;
  padding: 5px 10px;
  display: block;
  margin-bottom: 5px;
  border-radius: 4px;
  font-size: 0.875rem;
}

.exp-botao-tecnologia span:hover {
  background-color: #b6f829;
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 40px;
  }

  .experiencia .subtitulo {
    color: #141414;
  }

  .exp-resumo-texto {
    font-size: 1rem;
    line-height: 1.25rem;
    margin-bottom: 20px;
    max-width: initial;
    color: #525252;
  }

  .exp-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }

  .exp-ano::before {
    content: "Ano: ";
  }
}

@media (max-width: 400px) {
  .exp-empresa {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px 10px;
    background-color: #f5f5f5;
    margin-bottom: 20px;
    padding: 20px 10px;
    justify-content: start;
    position: relative;
    border-radius: 4px;
  }

  .exp-empresa p {
    order: 1;
  }
  .exp-empresa .cargo {
    order: 2;
  }

  .exp-empresa .exp-lista-tecnologias {
    order: 3;
  }

  .exp-ano {
    order: 4;
  }
}
