.footer {
  background-color: #000;
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 100px;
  position: relative;
}

.footer-descricao {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #ccc;
}

.footer-contato a {
  color: #ffffff;
  display: block;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  margin-bottom: 30px;
}

.footer-copy {
  color: #8f8f8f;
  font-size: 1.125rem;
  line-height: 1.1;
  grid-column: 1/-1;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
    justify-items: center;
  }

  .footer-descricao {
    font-size: 1.25rem;
  }

  .footer-contato a {
    font-size: 1.5rem;
    line-height: 1.1;
  }
}
