body {
  margin: 0px;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  color: #141414;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.subtitulo {
  font-size: 8rem;
  word-break: break-all;
  line-height: 1;
  text-transform: uppercase;
  max-width: 4ch;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 2.5rem;
    word-break: normal;
    text-transform: capitalize;
    max-width: initial !important;
  }
}
