.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.item-header-menu a {
  font-size: 1.125rem;
  line-height: 1.3rem;
  padding: 1vw 2vw;
  display: block;
  background-color: rgb(219, 219, 219);
  border-radius: 4px;
  color: rgb(0, 0, 0);
  border: 2px solid transparent;
}

.item-header-menu a:hover {
  background-color: rgb(227, 227, 227);
  border: 2px solid #000000;
}

@media (max-width: 800px) {
  .header {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    justify-items: center;
    padding: 15px 30px;
  }
}
