.main {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  justify-content: start;
  align-items: center;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.main-introducao h1::before {
  content: "";
  background: url("../img/detalhe.svg") no-repeat center;
  display: block;
  height: 400px;
  width: 400px;
  position: absolute;
  z-index: -1;
  top: -160px;
  left: -170px;
}

.main-introducao h1 {
  font-size: 4.5rem;
  margin-bottom: 20px;
  position: relative;
}

.main-introducao p {
  font-size: 1.5rem;
  color: #525252;
}

@media (max-width: 1000px) {
  .main-introducao h1::before {
    content: "";
    background: url("../img/detalhe.svg") no-repeat center;
    display: block;
    height: 5vw;
    width: 5vw;
    position: absolute;
    z-index: -1;
    top: -5px;
    left: -10px;
  }

  .main-introducao h1 {
    font-size: 3rem;
  }

  .main-introducao p {
    font-size: 2rem;
  }
}

@media (max-width: 650px) {
  .main {
    padding: 20px 10px;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .main-introducao h1 {
    font-size: 2.5rem;
  }

  .main-introducao p {
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
  .main {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .main img {
    display: none;
  }
  .main-introducao h1 {
    font-size: 2rem;
  }

  .main-introducao p {
    font-size: 1rem;
  }
}
